@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;600&display=swap');


body, html {
  margin: 0;
  padding: 0;
  font-family: 'Jost', sans-serif;
  height: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: #f4f4f4;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.home {
  position: relative;
  height: 100vh;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0f5c6b;
  text-align: center;
}


.content {
  position: relative;
  z-index: 1;
}

.fade-in {
  animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.slogan{
  font-size: 1.5rem;
  color: #0f5c6b; 
  margin-top: 10px
}

@media screen and (max-width: 768px) {
  .slogan {
    font-size: 1.2rem;
  }
  
}


#autotext {
  border-right: 0.15em solid #18b7be;
  letter-spacing: 0.05em;
  animation: blink 0.75s step-end infinite;
  font-family: "Source Code Pro", monospace;
}

@keyframes blink {
  from, 
  to {
    border-color: transparent;
  }
  50% {
    border-color: #18b7be;
  }
}

.cta-buttons {
  margin-top: 20px;
}

.cta-button {
  display: inline-block;
  padding: 15px 30px;
  margin: 10px;
  font-size: 1.2rem;
  color: white;
  background-color: #18b7be; /* Turquoise clair */
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #0f5c6b; /* Turquoise foncé */
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.burger-menu {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  background: none;
  border: none;
  color: white;
  transition: transform 0.3s ease-in-out;
}

.burger-nav {
  display: none;
  flex-direction: column;
  align-items: center;
  background-color: #178ca4;
  transition: max-height 0.3s ease-in-out;
  overflow: hidden;
  max-height: 0;
}

.burger-nav.open {
  display: flex;
  max-height: 500px; /* Adjust this value based on the content */
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .burger-menu {
    display: block;
  }

  .burger-nav {
    display: flex;
  }
}



/* Apparition du menu burger pour résolution tablette et < */
@media (max-width: 768px) { 
  .nav-links {
    display: none;
  }

  .burger-menu {
    display: block;
  }

  .burger-nav {
    display: flex;
  }
}

/* Bouton Download CV */
.download-button {
  display: inline-block;
  margin-top: 5%;
  padding: 15px 30px;
  font-size: 1.2rem;
  color: white;
  background-color: #178ca4; /* Turquoise */
  border: none;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: 5px 5px #0f5c6b; /* Turquoise foncé */
  transition: all 0.3s ease;
  cursor: pointer;
}
.download-button:hover {
  background-color: #0f5c6b; /* Turquoise foncé */
}
.download-button:active {
  box-shadow: 0 2px #0f5c6b; /* Turquoise foncé */
  transform: translateY(3px);
  margin-left: 5px;
  margin-bottom: 5px;
}

/* Divider CV */
.divider {
  margin: 70px auto;
  width: 80%;
  border: 0;
  height: 3px;
  background: #34495e; /* Gris foncé */
}

/* Texte expérience CV */
.experiences {
  text-align: left;
  margin: 0 auto;
  width: 80%;
}
.experience {
  margin-bottom: 20px;
  padding-top: 50px;
}
.experience h3 {
  margin: 10px 0;
  font-size: xx-large;
}
.experience p {
  margin: 10px 0;
  font-size: large;
}

.company-logo {
  width: 150px;
  height: auto;
  margin-right: 20px;
}

.experience-details {
  flex: 1;
}
/* Media query for tablet and below */
@media (max-width: 768px) {
  .experience {
    flex-direction: column;
    text-align: center;
  }

  .company-logo {
    margin: 0 auto 20px auto;
  }

  .experience-details {
    text-align: left;
  }
}

.slick-slider {
  display: block !important; /* Assure que le slider est visible */
}

.slick-list {
  overflow: hidden; /* Empêche les débordements */
}

.slick-track {
  display: flex; /* Force le comportement en ligne */
  transition: transform 0.5s ease !important; /* Fluidité pour les transitions */
}


.realisations {
  width: 90%;
  margin: 0 auto;
  position: static;
}

.project {
  position: relative;
  text-align: center;
  padding: 20px;
  background: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

.project-card {
  text-align: center;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  background-color: white;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  height: 470px; /* Définit une hauteur fixe pour la carte */
}

.project-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.tags {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}

.tag {
  background-color: #18b7be;
  color: white;
  padding: 0.3rem 0.8rem;
  border-radius: 3px;
  margin: 0.2rem;
}

.github-link, .group-link {
  display: flex;
  justify-content: left;
}

.github-link {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.github-icon {
  width: 50px;
  height: 50px;
  transition: transform 0.3s ease;
}

.github-icon:hover {
  transform: scale(1.2);
}


.group-link {
  position: absolute;
  bottom: 10px;
  right: 10px; /* Positionne l'icône en bas à droite */
}

.group-icon {
  width: 50px;
  height: 50px;
  transition: transform 0.3s ease;
}

.legend {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.legend-item {
  display: flex;
  align-items: center;
  margin: 0 10px;
}

.legend-icon {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}










/* Contact */
.contact-icon {
  width: 50px;
  height: 50px;
  transition: transform 0.3s ease;
}

.contact-icon:hover {
  transform: scale(1.2);
}


.footer {
    z-index: 1;
  --footer-background:#178ca4;
  display:grid;
  position: relative;
  grid-area: footer;
  min-height:11rem;
  padding-top: 50px;
  margin-top: 50px;
  .bubbles {
    padding-top: 50px;
      position: absolute;
      top:0;
      left:0;
      right:0;
      height:1rem;
      background:var(--footer-background);
      filter:url("#blob");
      .bubble {
          position: absolute;
          left:var(--position, 50%);
          background:var(--footer-background);
          border-radius:100%;
          animation:bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s),
              bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
          transform:translate(-50%, 100%);
      }
  }
  .content {
      z-index: 2;
      display:grid;
      grid-template-columns: 1fr auto;
      grid-gap: 4rem;
      padding:2rem;
      background:var(--footer-background);
      a, p {
          color:#F5F7FA;
          text-decoration:none;
      }
      b {
          color:white;
      }
      p {
          margin:0;
          font-size:.75rem;
      }
      >div {
          display:flex;
          flex-direction:column;
          justify-content: center;
          >div {
              margin:0.25rem 0;
              >* {
                  margin-right:.5rem;
              }
          }
          .footer-text {
            text-align: center;
          }
          
          .by-julian {
            font-size: 1.5rem; /* Taille du texte */
            font-weight: bold;
            text-align: center;
          }
          
          .rights-reserved {
            font-size: 1rem; /* Taille du texte */
            text-align: center;
          }
          
          @media (max-width: 768px) {
            .by-julian {
              font-size: 1.2rem; /* Taille du texte pour mobile */
            }
          
            .rights-reserved {
              font-size: 0.9rem; /* Taille du texte pour mobile */
            }
          }
          .image {
              align-self: center;
              width:4rem;
              height:4rem;
              margin:0.25rem 0;
              background-size: cover;
              background-position: center;
          }
      }
  }
}


@keyframes bubble-size {
0%, 55% {
  width:var(--size, 4rem);
  height:var(--size, 4rem);
}
100% {
  width:0rem;
  height:0rem;
}
}
@keyframes bubble-move {
0% {
  bottom:-4rem;
}
100% {
  bottom:var(--distance, 10rem);
}
}

